body {
  margin: 0%;
  background-color: antiquewhite;
  color: dimgray;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: burlywood;
  margin: 0;
  padding: 7px 70px;
}

.container a {
  color: rgb(80, 55, 23);
  text-decoration: none;
}

.googleMap {
  height: 600px;
  width: 50%;
  margin-left: 80px;
  margin-top: 80px;
}

nav a {
  margin-left: 10px;
}
