body {
  margin: 0%;
  background-color: antiquewhite;
  color: dimgray;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: burlywood;
  margin: 0;
  padding: 7px 20px;
}

.navigationBar a {
  color: rgb(80, 55, 23);
  text-decoration: none;
}

.navigationBar li {
  display: inline;
}

.homeLink {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.googleMap {
  height: 600px;
  width: 50%;
  margin-left: 80px;
  margin-top: 80px;
}

h3 {
  color: red;
}

/* nav {
  background-color:burlywood;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  display: inline-block;
  padding: 1rem;
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
} */

